{{! 
   Requires "currentWorld" - uuid of the world folder
}}

{{! The overall directory sidebar }}
<section id="fwb-directory" class="{{data.cssClass}} tab flexcol journal-directory" data-tab="journal">
  <!-- Directory Header -->
  <header class="directory-header">
    <div class="header-search flexrow">
      <input id="fwb-directory-search" type="search" name="search" value="" placeholder="INSERT PLACEHOLDER" autocomplete="off" />
      <a class="header-control create-button" data-tooltip="INSERT TOOLTOP">
        <i class="fas fa-globe"></i>
        <i class="fas fa-plus"></i>
      </a>
      <a class="header-control collapse-all" data-tooltip="INSErT TOOLTIP"><i class="fa-duotone fa-folder-tree"></i></a>
    </div>
  </header>

  {{! these are the worlds }}
  <ol class="fwb-world-list">
    {{#each data.worlds}}
      <li class="fwb-world-folder folder flexcol {{#unless (eq ../currentWorld id)}}collapsed{{/unless}}" data-world-id={{id}}>
        <header class="folder-header flexrow">
          <h3 class="noborder"><i class="fas fa-folder-open fa-fw"></i>{{name}}</h3>
        </header>

        {{#if (eq ../currentWorld id)}}
          {{! These are the topic compendia }}
          <ol class="world-contents">
            {{#each compendia}}
              <li class="fwb-topic-folder folder entry flexcol {{#if collapsed}}collapsed{{/if}}" 
                  data-compendium-id="{{id}}" data-compendium-topic="{{topic}}"
              >
                <header class="folder-header flexrow">
                  <h4 class="noborder" style="margin-bottom:0px">
                    <i class="fas fa-folder-open fa-fw" style="margin-right: 4px;"></i>
                    <i class="icon fas {{icon}}" style="margin-right: 4px;"></i>
                    {{name}}
                  </h4>
                  <a class="fwb-create-entry create-button">
                    <i class="fas fa-atlas"></i>
                    <i class="fas fa-plus"></i>
                  </a>
                </header>

                {{! css will hide this section if the .fwb-topic-folder is collapsed }}
                <ol class="fwb-topic-contents">
                  {{! These are the journal entries}}
                  {{#each entries}}
                    <li class="fwb-entry-item flexrow" data-entry-id="{{uuid}}">
                        <h4 class="entry-name"><a>{{name}}</a></h4>
                    </li>
                  {{/each}}
                </ol>
              </li>
            {{/each}}
          </ol>
          {{/if}}
      </li>
    {{/each~}}
  </ol>

{{!--
  <!-- Directory Footer -->
  <footer class="directory-footer action-buttons {{#if data.unavailable}}warning{{/if}}">
    {{~#if data.unavailable}}
      <i class="fa-solid fa-triangle-exclamation"></i>
      <a class="show-issues">{{localize "SUPPORT.UnavailableDocuments" count=data.unavailable document=data.label}}</a>
    {{/if~}}
  </footer>
  --}}
</section>