{{#*inline "treeNode"}}
  <li>
    {{#if children.length}}
      {{>treeNodeWithChildren this}}
    {{else}}
      <div class="tree-item" data-value="{{value}}">{{text}}</div>
    {{/if}}
  </li>
{{/inline}}

{{#*inline "treeNodeWithChildren"}}
  <details {{#if expanded}}open{{/if}}>
    <summary>      
      <div class="tree-item" data-value="{{value}}">{{text}}</div>
    </summary>
    <ul>
      {{#each children}}
        {{> treeNode}}
      {{/each}}
    </ul>
  </details>
{{/inline}}

<div id="{{data.componentId}}" class="fwb-tree">
  <ul class="top-node">
    {{#each data.topNodes}}
      {{> treeNode this}}
    {{/each}}
  </ul>
</div>
