{{! Requires:
      WBHeaderData: {
        tabs: WindowTab[] 
        bookmarks: Bookmark[]
        collapsed: boolean
        canBack: boolean
        canForward: boolean
      }
}}
<header class="fwb-header flexcol">
  <div class="fwb-tab-bar flexrow">
    <div class="fwb-tab-row flexrow">
      {{#each tabs}}
        <div class="fwb-tab flexrow {{#if active}}active{{/if}}" title="{{text}}" data-tabid="{{id}}">
          <div class="tab-content">{{text}}</div>
          <div class="close"><i class="fas fa-times"></i></div>
        </div>
      {{/each}}

      <div id="fwb-add-tab" class="tab-button"><i class="fas fa-plus"></i></div>
    </div>

    <div id="fwb-sidebar-toggle" class="tab-button" data-tooltip="{{#if collapsed}}{{localize 'fwb.tooltips.expandDirectory'}}{{else}}{{localize 'fwb.tooltips.collapseDirectory'}}{{/if}}">
      <i class="fas {{#if collapsed}}fa-caret-left{{else}}fa-caret-right{{/if}}"></i>
    </div>
  </div>

  <div class="fwb-bookmark-bar flexrow">
    <div id="fwb-add-bookmark" class="bookmark-button" title="{{localize 'MonksEnhancedJournal.AddBookmark'}}"><i class="fas fa-star"></i></div>

    {{#each bookmarks}}
      <div class="bookmark-button" title="{{text}}" data-bookmark-id="{{id}}" data-entry-id="{{entityId}}"><div><i class="fas {{icon}}"></i> {{text}}</div></div>
    {{/each}}
  </div>

  <div class="navigation flexrow">
    <div class="nav-button history back-button{{#unless canBack}} disabled{{/unless}}" title="{{localize 'MonksEnhancedJournal.Back'}}" data-history="back"><i class="fas fa-chevron-left"></i></div>
    <div class="nav-button history forward-button{{#unless canForward}} disabled{{/unless}}" title="{{localize 'MonksEnhancedJournal.Forward'}}" data-history="forward"><i class="fas fa-chevron-right"></i></div>
    <hr class="vertical" />
    <div class="toggle-menu nav-button" action="toggleCollapse" data-tooltip="{{localize 'JOURNAL.ViewCollapse'}}" style="margin-left: 4px;"><i class="fas fa-list"></i> <span></span></div>
    <div class="button-group flexrow" id="journal-buttons"></div>
  </div>
</header>
